cmd/vornex/vornex*
vendor
integration_tests/vornex
integration_tests/integration-test
cmd/functional-test/vornex_dev
cmd/functional-test/functional-test
cmd/functional-test/vornex
cmd/functional-test/*.cfg
.vscode
dist